binding.gyp -diff linguist-generated
bindings/** -diff linguist-generated
Cargo.toml -diff linguist-vendored
src/grammar.json -diff linguist-generated
src/node-types.json -diff linguist-generated
src/parser.c -diff linguist-generated
src/tree_sitter/** -diff linguist-generated
