binding.gyp linguist-generated
bindings/** linguist-generated
Cargo.toml linguist-vendored
src/grammar.json linguist-generated
src/node-types.json linguist-generated
src/parser.c linguist-generated
src/tree_sitter/** linguist-generated
